html, body {
    margin: 0;
    padding: 0;    
}

h1 {
    margin: 0;
    padding: 0;
}

/* PC 버전 메뉴 - x축 정렬 */
/* .media-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 700px;
    background-color: black;
}

.media-menu a {
    color: black;
    text-decoration: none;
}

.media-menu li {
    width: 150px;
    background-color: yellow;
    border: solid 5px red;
    padding: 5px 15px;
    text-align: center;
} 
*/


/* 모바일버전 메뉴 - y축 정렬 */
/* 
@media (min-width: 320px) and (max-width: 767px) {
    .media-menu {
        flex-direction: column;
        align-items: flex-start;
        width: 190px;
    }

    .media-menu li {
        margin-bottom: 10px;
    }

    .media-menu li:last-child {
        margin-bottom: 0;
    }
} 
*/


/* helbak.com 메뉴 pc버전 1줄-고정, 모바일 버전 2줄-비고정 */

/* PC */
/* 
.intro {
    display: flex;
    position: fixed;
    
    width: 100%;
    height: 80px;
    background-color: #ffffff;
}

.intro h1 {
    width: 50%;
    height: 80px;
    background-color: black;
}

.intro nav {
    width: 50%;
    height: 80px;
    background-color: yellow;
}

.intro nav ul{
    display: flex;
    
    list-style: none;
    padding: 0;
    margin: 0;   
}

.intro nav ul li {
    width: 33.3333%;
    height: 80px;
}

.intro nav ul li:nth-child(1) {
    background-color: blue;
}

.intro nav ul li:nth-child(2) {
    background-color: gray;
}

.intro nav ul li:nth-child(3) {
    background-color: green;
}

main {
    width: 100%;
    height: 2000px;
    background-color: gold;

    padding-top: 80px;
} 
*/

/* 모바일 */
/* 
@media (min-width: 320px) and (max-width: 767px) {
    .intro {
        position: static;
        flex-direction: column;
        height: 160px;        
    }

    .intro h1 {
        width: 100%;
    }

    .intro nav {
        width: 100%;
    }

    main {
        padding-top: 0;
    }
}
*/


/* bootstrap Portfolio 파트 콘텐츠 PC버전, 모바일버전 */

/* PC버전(3x2) */
 
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 1140px;
    margin: 0 auto;
    background-color: pink;
}

.column {
    width: 355px;
    background-color: #ffffff;
    border: solid 2px red;
    margin-bottom: 10px;

}

.column:nth-child(4),
.column:nth-child(5),
.column:nth-child(6) {
    margin-bottom: 0;
}

.column img { 
    width: 100%;
    vertical-align: middle;
}

.column .image-info {
    padding: 20px 0;
    text-align: center;
}

.column .image-info h2 {
    margin: 0;
}


/* 모바일(2x3) */
 
@media (min-width: 540px) and (max-width: 720px) {
    .container {
        width: 720px;
    }

    .column:nth-child(4) {
        margin-bottom: 10px;
    }
}


/* 모바일(1x6) */
 
@media (min-width: 320px) and (max-width: 539px) {
    .container {
        box-sizing: border-box;
        width: 100%;

        padding: 0 20px;
    }

    .column {
        width: 100%;
    }

    .column:nth-child(4),
    .column:nth-child(5) {
        margin-bottom: 10px;
    }
}















