html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

/* 
    320px ~ 768px미만  : 스마트폰
    768px ~ 1024px미만 : 태블릿
    1024px 이상 ~      : PC
*/

/* .pc {
    color: red;
    font-size: 50px;
    background-color: pink;
}

.mobile {
    display: none;    
}

@media (min-width: 320px) and (max-width: 767px) {
    .pc {
        display: none;
    }
    
    .mobile {
        display: block;
    }
} */


/* @media (min-width: 320px) and (max-width: 767px) {
    .pc {
        color: blue;
        font-size: 20px;
        background-color: yellow;
    }
} */


h1 {
    font-size: 20px;
    background-color: yellow;
}

/* max-width 1024px 미만 */
@media (min-width: 768px) {
    h1 {
        font-size: 40px;
        background-color: pink;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 80px;
        background-color: gray;
    }
}






