/* 행동과 관련된 디자인*/

a:link  {
    color: red;
}

a:active {
    color: blue;
}

a:hover {
    color: pink;
}

input:focus {
    border: solid 10px red;
}

/* 규칙을 바탕으로 한 디자인 */

li:first-child {
    color: red;
}

li:last-child {
    color: blue;
}

li:nth-child(2n + 1) {
    color: gray;
}


/* before, after */
li::before { 
    content: "***";
}

li::after {
    content: "---";
}





















