* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
    border: none;
}

input {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1320px;
}

/* Flex 기본 */
.flex-align-start {
    display: flex;
	flex-wrap: wrap;
	align-items: center;	
}

.flex-align-end {
    display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
	align-items: center;	
}

.flex-align-between {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;	
}

/* 유튜브 상단 메뉴 */
#youtube-top-nav {
    position: fixed;

    width: 100%;
    height: 56px;
    background-color: #212121;

    padding: 0 16px;

    z-index: 99999;
}

#youtube-top-nav .nav-left {
    height: 56px;
}

#youtube-top-nav .nav-left .btn-menu {
    width: 24px;
    height: 24px;
    background-color: yellowgreen;   
}

#youtube-top-nav .nav-left h1 {
    margin-left: 16px;
}

#youtube-top-nav .nav-left h1 a img {
    width: 90px;
    height: 20px;
}


#youtube-top-nav .nav-right .btn-menu {
    width: 40px;
    height: 40px;

    margin-right: 16px;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-1 {
    background-color: grey;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-2 {
    background-color: yellowgreen;
}

#youtube-top-nav .nav-right .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;    

    padding: 10px 12px;

    font-size: 14px;
    color: #3ea6ff;
}


#youtube-top-nav .nav-center {
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
}

#youtube-top-nav .nav-center .search-wrap {
    width: 640px;
    height: 30px;    
}

#youtube-top-nav .nav-center .search-wrap input {
    width: calc(100% - 65px);
    height: 30px;
    border: solid 1px grey;
    background-color: #212121;

    padding: 6px 6px;

    font-size: 14px;
    color: #ffffff;
}

#youtube-top-nav .nav-center .search-wrap .btn-search {
    width: 65px;
    height: 30px;    
    border: solid 1px grey;
    background-color: grey;
}

#youtube-top-nav .nav-center .btn-voice {
    width: 24px;
    height: 24px;
    background-color: blue;

    margin-left: 16px;
}


/* 유튜브 왼쪽 사이드 메뉴*/
#youtube-left-nav {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;

    width: 240px;
    background-color: #212121;

    top: 56px;
    left: 0;
    bottom: 0;

    z-index: 99999;
}

#youtube-left-content {
    position: absolute;
    width: 225px;
    height: 100%;    
}

#youtube-left-content .nav-section {
    padding: 8px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#youtube-left-content .nav-section .nav-title-wrap {
    padding: 8px 24px;
}

#youtube-left-content .nav-section .nav-title-wrap h2 {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: bold;
}


#youtube-left-content .nav-section .nav-body li a {
    height: 40px;
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body li .icon { 
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;

    margin-right: 24px;
}

#youtube-left-content .nav-section .nav-body li span { 
    font-size: 13px;
    color: #ffffff;
}

#youtube-left-content .nav-section .nav-body .txt-wrap {
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;    

    padding: 10px 12px;

    font-size: 14px;
    color: #3ea6ff;

    margin-top: 12px;
}

#youtube-left-content .youtube-footer {
    padding-bottom: 150px;
}

#youtube-left-content .youtube-footer .txt-wrap {
    padding: 12px 24px 0;
}

#youtube-left-content .youtube-footer .txt-wrap a {
    margin-right: 8px;
    
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    word-break: keep-all;
}

#youtube-left-content .youtube-footer .txt-wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #717171;
    line-height: 18px;

    word-break: keep-all;
}


/* 유튜브 메인 */
#youtube-main {
    position: absolute;
    
    height: 100%;
    background-color: #181818;
    
    top: 56px;
    left: 240px;
    right: 0;
    bottom: 0;
}

#youtube-main-content {
    width: 100%;
    height: 100%;
    padding: 24px;
}

#youtube-main-content ul {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    align-content: flex-start;
}

#youtube-main-content ul li {
    width: 24%;
    margin-bottom: 40px;
}

#youtube-main-content li .video-thumbnail {
    width: 100%;
}

#youtube-main-content li .video-thumbnail a {
    position: relative;
    display: block;
    width: 100%;
}

#youtube-main-content li .video-thumbnail img {
    width: 100%;
}

#youtube-main-content li .video-thumbnail .time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);

    padding: 3px 4px;

    font-size: 12px;
    color: #ffffff;

    bottom: 4px;
    right: 4px;
}

#youtube-main-content li .video-txt-wrap {
    align-items: flex-start;
    margin-top: 12px;
}

#youtube-main-content li .video-txt-wrap .image-link {
    display: block;
    width: 36px;
    height: 36px;

    margin-right: 12px;
}

#youtube-main-content li .video-txt-wrap .image-link .profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#youtube-main-content li .video-txt-wrap .txt {
    width: calc(100% - 48px);
}

#youtube-main-content li .video-txt-wrap .txt h3 {
    margin-bottom: 8px;
    
    font-size: 15px;
    line-height: 18px;
}

#youtube-main-content li .video-txt-wrap .txt h3 .title-link {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    max-height: 50px;
    
    padding-right: 20px;
    
    color: #ffffff;
}

#youtube-main-content li .video-txt-wrap .txt p  {
    max-width: 165px;
    font-size: 13px;
}

#youtube-main-content li .video-txt-wrap .txt p .channel-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    margin-bottom: 5px;

    color: gray;
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom .count {
    font-size: 13px;
    color: grey;
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom .count::after {
    display: inline-block;
    content: '';
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: gray;
    
    margin: 4px 4px 0 8px ;

    vertical-align: 2px;
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom .date {
    font-size: 13px;
    color: grey;
}


/* 유튜브 채널 페이지*/
/* 채널 콘텐츠 영역 */
.channel-container {
    width: 1284px;
    margin: 0 auto;
}

#youtube-channel-content #channel-banner {
    width: 100%;
    height: 250px;
    background-color: darkblue;
}

#channel-header {
    background-color: rgba(24, 24, 24, 1);
    padding: 16px 0 4px;
}

#channel-header .channel-profile-wrap .channel-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;

    margin-right: 24px;
}

#channel-header .channel-profile-wrap .channel-profile .txt-wrap h2{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
}

#channel-header .channel-profile-wrap .channel-profile .txt-wrap p {
    margin-top: 10px;
    
    font-size: 14px;
    color: #aaaaaa;
}

#channel-header .channel-profile-wrap .btn-subscribe {
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;

    color: #ffffff;
    font-size: 16px;
}


#channel-nav {
    background-color: rgba(24, 24, 24, 1);
}

#channel-nav ul li a {
    display: block;
    height: 47px;    

    padding: 0 32px;

    line-height: 47px;

    border-bottom: solid 3px transparent;
    color: #aaaaaa;
}

#channel-nav ul li a:hover {
    color: #ffffff;
}

#channel-nav ul li a.active {
    border-bottom: solid 3px #ffffff;
    color: #ffffff;
}

#channel-content {
    background-color: rgba(15, 15, 15, 1);
}

#channel-recent {
    padding: 24px 0;
    align-items: flex-start;
    border-bottom: solid 1px #aaaaaa;  
}

#channel-recent .thumbnail-wrap {
    position: relative;
    width: 246px;
    height: 148px;
    margin-right: 16px;
}

#channel-recent .thumbnail-wrap img {
    width: 100%;
    height: 100%;
}

#channel-recent .thumbnail-wrap .mark {
    position: absolute;
    background-color: red;
    border-radius: 5px;
    
    padding: 4px 8px;

    font-size: 12px;
    color: #ffffff;

    right: 4px;
    bottom: 4px;
}

#channel-recent .txt-wrap {
    width: 600px;
}

#channel-recent .txt-wrap h2 {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
}

#channel-recent .txt-wrap .channel {
    position: relative;
    padding-top: 6px;
    font-size: 14px;
    color: #aaaaaa;    
}

#channel-recent .txt-wrap .description {
    padding-top: 8px;
    font-size: 14px;
    color: #aaaaaa;
    line-height: 1.45;
}


.channel-playlists-section {
    padding: 24px 0 ;
    border-bottom: solid 1px grey;
}

.channel-playlists-section .playlists-header h3 {
    margin-right: 20px;
    font-size: 18px;
    color: #ffffff;
}

.channel-playlists-section .playlists-header .play-wrap {
    width: 90px;    
}

.channel-playlists-section .playlists-header .play-wrap .icon-play {
    width: 24px;
    height: 24px;
    background-color: #ffffff;
}

.channel-playlists-section .playlists-header .play-wrap .play-link {
    margin-left: 8px;
    font-size: 14px;
    color: #aaaaaa;    
}

.channel-playlists-section .playlists-body {
    margin-top: 24px;
}

.channel-playlists-section .playlists-body ul li {
    width: 210px;
}

.channel-playlists-section .playlists-body li .channel-thumbnail {
    width: 100%;
    height: 118px;
}

.channel-playlists-section .playlists-body li .channel-thumbnail a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.channel-playlists-section .playlists-body li .channel-thumbnail a img {
    width: 100%;
    height: 100%;
}

.channel-playlists-section .playlists-body li .channel-thumbnail a .time {
    position: absolute;

    font-size: 12px;
    color: #ffffff;
    background-color: black;
    padding: 4px 8px 6px;
    border-radius: 5px;

    bottom: 4px;
    right: 4px;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap {
    margin-top: 12px;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap h3 {
    margin-bottom: 6px;
    font-size: 15px;
    line-height: 1.45;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap h3 .title-link {
    color: #ffffff;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap p {
    margin-bottom: 5px;
    font-size: 12px;  
}

.channel-playlists-section .playlists-body li .channel-txt-wrap p .channel-link {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #aaaaaa;
}

.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .count,
.channel-playlists-section .playlists-body li .channel-txt-wrap .txt-bottom .date {
    font-size: 12px;
    color: #aaaaaa;
}


/* 탐색 페이지 영역 */
#youtube-explore-content {
    background-color: #181818;
}

.explore-container {
    width: 1280px;
    margin: 0 auto;
}

#explore-nav {
    padding: 12px 0 8px;
}

#explore-nav ul li {
    width: 210px;
    height: 116px;    
    
}

#explore-nav li a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #212121;

    padding: 20px;
}

#explore-nav li a:hover {
    background-color: black;
}

#explore-nav li a .icon {
    display: block;
    width: 32px;
    height: 32px;
    background-color: red;

    margin-bottom: 15px;
}

#explore-nav li a span {
    font-size: 16px;
    color: #ffffff;
}


#popular-section {
    margin-top: 24px;
}

#popular-section h2 {
    font-size: 20px;
    color: #ffffff;
}

#popular-section ul {
    margin-top: 24px;
}

#popular-section ul li {
    margin-bottom: 16px;
}

#popular-section li a {
    align-items: flex-start;
}

#popular-section li .image-wrap {
    position: relative;
    width: 246px;
    height: 148px;

    margin-right: 16px;
}

#popular-section li .image-wrap img {
    width: 100%;
    height: 100%;
}

#popular-section .image-wrap .time {
    position: absolute;
    background-color: #212121;
    border-radius: 5px;
    
    padding: 4px 8px;
    
    font-size: 12px;
    color: #ffffff;

    bottom: 4px;
    right: 4px;
}


#popular-section .txt-wrap {
    width: 600px;
}

#popular-section .txt-wrap h3 {
    margin-right: 30px;
    
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
}

#popular-section .txt-wrap .video-info {
    font-size: 14px;
    color: #aaaaaa;
    line-height: 24px;
}

#popular-section .txt-wrap .video-info span::after {
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    background-color: #aaaaaa;
    border-radius: 50%;

    margin: 10px 4px 0 8px;
    vertical-align: top;
}

#popular-section .txt-wrap .video-info span:last-child::after {
    content: none;
}

#popular-section .txt-wrap .video-info .channel {
    
}

#popular-section .txt-wrap .video-info .count {
    
}

#popular-section .txt-wrap .video-info .date {
    
}

#popular-section .txt-wrap .description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
    padding-top: 8px;    

    font-size: 14px;
    color: #aaaaaa;
    line-height: 20px;
}
















