* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

button {
    background-color: transparent;
    border: none;
}

input {
    outline: none;
    border: none;
}

input:focus {
    outline: none;
}

#wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1320px;
}

/* Flex 기본 */
.flex-align-start {
    display: flex;
	flex-wrap: wrap;
	align-items: center;	
}

.flex-align-end {
    display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
	align-items: center;	
}

.flex-align-between {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;	
}

/* 유튜브 상단 메뉴 */
#youtube-top-nav {
    position: fixed;

    width: 100%;
    height: 56px;
    background-color: #212121;

    padding: 0 16px;
}

#youtube-top-nav .nav-left {
    height: 56px;
}

#youtube-top-nav .nav-left .btn-menu {
    width: 24px;
    height: 24px;
    background-color: yellowgreen;   
}

#youtube-top-nav .nav-left h1 {
    margin-left: 16px;
}

#youtube-top-nav .nav-left h1 a img {
    width: 90px;
    height: 20px;
}


#youtube-top-nav .nav-right .btn-menu {
    width: 40px;
    height: 40px;

    margin-right: 16px;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-1 {
    background-color: grey;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-2 {
    background-color: yellowgreen;
}

#youtube-top-nav .nav-right .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;    

    padding: 10px 12px;

    font-size: 14px;
    color: #3ea6ff;
}


#youtube-top-nav .nav-center {
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);
}

#youtube-top-nav .nav-center .search-wrap {
    width: 640px;
    height: 30px;    
}

#youtube-top-nav .nav-center .search-wrap input {
    width: calc(100% - 65px);
    height: 30px;
    border: solid 1px grey;
    background-color: #212121;

    padding: 6px 6px;

    font-size: 14px;
    color: #ffffff;
}

#youtube-top-nav .nav-center .search-wrap .btn-search {
    width: 65px;
    height: 30px;    
    border: solid 1px grey;
    background-color: grey;
}

#youtube-top-nav .nav-center .btn-voice {
    width: 24px;
    height: 24px;
    background-color: blue;

    margin-left: 16px;
}


/* 유튜브 왼쪽 사이드 메뉴*/
#youtube-left-nav {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;

    width: 240px;
    background-color: #212121;

    top: 56px;
    left: 0;
    bottom: 0;
}

#youtube-left-content {
    position: absolute;
    width: 225px;
    height: 100%;    
}

#youtube-left-content .nav-section {
    padding: 8px 0;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

#youtube-left-content .nav-section .nav-title-wrap {
    padding: 8px 24px;
}

#youtube-left-content .nav-section .nav-title-wrap h2 {
    color: #aaaaaa;
    font-size: 15px;
    font-weight: bold;
}


#youtube-left-content .nav-section .nav-body li a {
    height: 40px;
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body li .icon { 
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;

    margin-right: 24px;
}

#youtube-left-content .nav-section .nav-body li span { 
    font-size: 13px;
    color: #ffffff;
}

#youtube-left-content .nav-section .nav-body .txt-wrap {
    padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap .btn-login {
    display: inline-block;
    border: solid 1px #3ea6ff;    

    padding: 10px 12px;

    font-size: 14px;
    color: #3ea6ff;

    margin-top: 12px;
}

#youtube-left-content .youtube-footer {
    padding-bottom: 150px;
}

#youtube-left-content .youtube-footer .txt-wrap {
    padding: 12px 24px 0;
}

#youtube-left-content .youtube-footer .txt-wrap a {
    margin-right: 8px;
    
    color: #aaaaaa;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    word-break: keep-all;
}

#youtube-left-content .youtube-footer .txt-wrap p {
    font-size: 12px;
    font-weight: 400;
    color: #717171;
    line-height: 18px;

    word-break: keep-all;
}


/* 유튜브 메인 */
#youtube-main {
    position: absolute;
    
    background-color: grey;
    
    top: 56px;
    left: 240px;
    right: 0;
    bottom: 0;
}

#youtube-main-content {
    width: 100%;
    height: 100%;
    padding: 24px;
}

#youtube-main-content ul {
    width: 100%;
    height: 100%;
    align-items: flex-start;
}

#youtube-main-content ul li {
    width: 24%;
    background-color: yellowgreen;

    margin-bottom: 40px;
}

#youtube-main-content li .video-thumbnail {
    width: 100%;
}

#youtube-main-content li .video-thumbnail a {
    position: relative;
    display: block;
    width: 100%;
}

#youtube-main-content li .video-thumbnail img {
    width: 100%;
}

#youtube-main-content li .video-thumbnail .time {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);

    padding: 3px 4px;

    font-size: 12px;
    color: #ffffff;

    bottom: 4px;
    right: 4px;
}

#youtube-main-content li .video-txt-wrap {
    margin-top: 12px;
}

#youtube-main-content li .video-txt-wrap .image-link {
    display: block;
    width: 36px;
    height: 36px;

    margin-right: 12px;
}

#youtube-main-content li .video-txt-wrap .image-link .profile {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#youtube-main-content li .video-txt-wrap .txt {
    width: calc(100% - 48px);
}

#youtube-main-content li .video-txt-wrap .txt h3 {
    display: inline-block;
    
    margin-bottom: 6px;
    font-size: 15px;
}

#youtube-main-content li .video-txt-wrap .txt h3 .title-link {
    color: #ffffff;
}

#youtube-main-content li .video-txt-wrap .txt p  {
    
}

#youtube-main-content li .video-txt-wrap .txt p .channel-link {
    
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom {
    
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom .count {
    
}

#youtube-main-content li .video-txt-wrap .txt .txt-bottom .date {
    
}