.living-lists {
    list-style: none;
}

.living-lists .living-item a {
    color: #000000;
    text-decoration: none;    
}

.living-lists .living-item .living-info .type {
    color: #c08d31;
    font-weight: 700;
    font-size: 12px;
}

.living-lists .living-item a .living-info:hover .title {
    text-decoration: underline;
}

.living-lists .living-item .living-info .title {
    font-size: 13px;
    color: #000000;
}

.living-lists .living-item .living-info .paragraph {
    font-size: 13px;
    color: #404040;
    line-height: 20px;
}

.living-lists .living-item .living-info .data-wrap .source,
.living-lists .living-item .living-info .data-wrap .date {
    font-size: 12px;
    color: #505050;
}

.living-lists .living-item .living-info .data-wrap .date {
    font-size: 12px;
    color: grey;
}

.living-lists .living-item .living-info .data-wrap .date::before {
    content: "-";
}

.living-lists .living-item:hover {
    background-color: pink;
}