/* Default CSS */
html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
}

.clearfix {
    clear: both;
}

/* intro */
#intro {
    width: 100%;
    height: 1600px;
    background-image: url(../img/intro/intro_bg.png);

    /* padding-top: 100px; */
}

#intro .introWrap {
    position: relative;

    width: 760px;
    height: 516px;
    /* background-color: yellow; */
    
    left: 50%;
    margin-left: -380px;

    /* margin-top: 100px; */
    top: 100px;
}

#intro .introWrap .logo {
    position: absolute;

    width: 760px;
    height: 516px;
    background-image: url(../img/intro/logo.png);

    z-index: 100;
}

#intro .introWrap .lion {
    position: absolute;

    width: 161px;
    height: 161px;
    background-image: url(../img/intro/lion.png);

    margin: 80px 0 0 30px;

    /* z-index: 0; */
}

#intro .introWrap .rabbit {
    position: absolute;

    width: 105px;
    height: 129px;
    background-image: url(../img/intro/rabbit.png);

    margin: 90px 0 0 580px;    
}

#intro .introWrap .bear {
    position: absolute;

    width: 112px;
    height: 105px;
    background-image: url(../img/intro/bear.png);

    margin: 310px 0 0 560px;

    z-index: 200;
}

#intro .introWrap .monkey {
    position: absolute;

    width: 85px;
    height: 93px;
    background-image: url(../img/intro/monkey.png);

    margin: 310px 0 0 50px;

    z-index: 200;
}

#intro .cloudWrap {
    position: relative;

    width: 100%;
    height: 1050px;
    /* background-color: pink; */
}

#intro .cloudWrap .leftCloud {
    position: absolute;

    width: 934px;
    height: 816px;
    background-image: url(../img/intro/cloud1.png);

    left: 0;

    z-index: 2;
}

#intro .cloudWrap .rightCloud {
    position: absolute;

    width: 843px;
    height: 858px;
    background-image: url(../img/intro/cloud2.png);

    right: 0;
}

#intro .cloudWrap .dragonfly {
    position: absolute;

    width: 366px;
    height: 228px;
    background-image: url(../img/intro/dragonfly.png);

    top: 800px;
}

/* Farm1 */
#farm1 {
    position: relative;

    width: 100%;
    height: 800px;
    background-image: url(../img/farm/farm1/farm1_bg.png);
}

#farm1 .leftRice1 {
    position: absolute;

    width: 390px;
    height: 670px;
    background-image: url(../img/farm/farm1/leftrice.png);

    left: 0;
}

#farm1 .rightRice1 {
    position: absolute;

    width: 335px;
    height: 570px;
    background-image: url(../img/farm/farm1/rightrice.png);

    right: 0;
    top: 100px;
}

#farm1 .farmer {
    position: absolute;

    width: 747px;
    height: 1078px;
    background-image: url(../img/farm/farm1/farmer.png);

    left: 50%;
    margin-left: -310px;
}

#farm1 .farmSpeechWrap {
    position: relative;

    top: 250px;
    left: 150px;
}

#farm1 .farmSpeechWrap .farmSpeech {
    color: #895c2f;
    font-size: 18px;
    line-height: 27px;
}


/* Farm2 */
#farm2 {
    position: relative;
    
    width: 100%;
    height: 850px;
    background-image: url(../img/farm/farm2/farm2_bg.png);
}

#farm2 .leftRice2 {
    float: left;
    
    width: 250px;
    height: 850px;
    background-image: url(../img/farm/farm2/leftrice2.png);
}

#farm2 .rightRice2 {
    float: right;
    
    width: 236px;
    height: 850px;
    background-image: url(../img/farm/farm2/rightrice2.png);
}

#farm2 .scarecrow {
    position: absolute;

    width: 103px;
    height: 206px;
    background-image: url(../img/farm/farm2/scarecrow.png);

    margin: 200px 0 0 300px;
}


/* Farm3 */
#farm3 {
    position: relative;

    width: 100%;
    height: 850px;
    background-image: url(../img/farm/farm3/farm3_bg.png);
}

#farm3 .farm3Window {
    position: absolute;

    width: 247px;
    height: 169px;
    background-image: url(../img/farm/farm3/window.png);

    margin: 100px 0 0 100px;
}

#farm3 .machineWrap {
    position: relative;

    width: 600px;
    height: 455px;
    /* background-color: yellow; */

    left: 50%;
    margin-left: -285px;
    top: 150px;
}

#farm3 .machineWrap .machine1 {
    position: absolute;
    width: 586px;
    height: 455px;
    background-image: url(../img/farm/farm3/machine1.png);

    z-index: 900;
}

#farm3 .machineWrap .sawShadow {
    position: absolute;

    width: 95px;
    height: 95px;
    background-image: url(../img/farm/farm3/sawshadow.png);

    margin: 145px 0 0 145px;
}

#farm3 .machineWrap .saw1,
#farm3 .machineWrap .saw2 {
    position: absolute;
    width: 95px;
    height: 95px;
    background-image: url(../img/farm/farm3/saw.png);
}

#farm3 .machineWrap .saw1 {
    margin: 140px 0 0 140px;
}

#farm3 .machineWrap .saw2 {
    margin: 140px 0 0 350px;
}

#farm3 .machineWrap .timer {
    position: absolute;

    width: 103px;
    height: 104px;
    background-image: url(../img/farm/farm3/second.png);

    margin: 125px 0 0 45px;

    z-index: 999;
}

#farm3 .machineWrap .machineBird {
    position: absolute;

    width: 44px;
    height: 49px;
    background-image: url(../img/farm/farm3/machinebird.png);

    margin: 220px 0 0 20px;

    z-index: 999;
}

#farm3 .farm3Bubble {
    position: absolute;

    top: 350px;
    right: 80px;
}


/* Forest1 */
#forest1 {
    width: 100%;
    height: 1050px;
    background-image: url(../img/forest/forest1/forest1_bg.png);
}

#forest1 .leftTree {
    position: absolute;
    
    width: 445px;
    height: 1200px;
    background-image: url(../img/forest/forest1/lefttree.png);

    left: 0;
}

#forest1 .treeWrap {
    float: right;
    position: relative;

    width: 304px;
    height: 572px;

    top: 100px;
}

#forest1 .treeWrap .rightTree {
    position: absolute;

    width: 304px;
    height: 572px;
    background-image: url(../img/forest/forest1/righttree.png);

    z-index: 10;
}

#forest1 .treeWrap .rabbit1 {
    position: absolute;

    width: 82px;
    height: 103px;
    background-image: url(../img/forest/forest1/rabbit1.png);

    margin: 435px 0 0 107px;
}

#forest1 .treeWrap .rabbit2 {
    position: absolute;

    width: 56px;
    height: 75px;
    background-image: url(../img/forest/forest1/rabbit2.png);

    margin: 435px 0 0 200px;
}


/* Forest2 */
#forest2 {
    width: 100%;
    height: 750px;
    background-image: url(../img/forest/forest2/forest2_bg.png);
}

#forest2 .frog {
    position: absolute;

    width: 153px;
    height: 257px;
    background-image: url(../img/forest/forest2/frog.png);

    margin: 50px 0 0 100px;
}

#forest2 .machineWrap2 {
    position: relative;

    width: 400px;
    height: 400px;
    
    left: 50%;
    margin-left: -200px;
    top: 180px;
}

#forest2 .machineWrap2 .machineBottom {
    position: absolute;

    width: 374px;
    height: 162px;
    background-image: url(../img/forest/forest2/machinebottom.png);

    margin-top: 220px;

    z-index: 200;
}

#forest2 .machineWrap2 .machineLeft {
    position: absolute;

    width: 123px;
    height: 228px;
    background-image: url(../img/forest/forest2/machineleft.png);

    margin-top: 30px;

    z-index: 200;
}

#forest2 .machineWrap2 .machineRight {
    position: absolute;

    width: 123px;
    height: 248px;
    background-image: url(../img/forest/forest2/machineright.png);

    margin: 10px 0 0 260px;

    z-index: 200;
}

#forest2 .forestBubble {
    position: relative;

    float: right;

    top: -100px;
    margin-right: 100px;
}

#forest2 .forest2Tree {
    float: left;
    position: relative;

    width: 304px;
    height: 282px;
    background-image: url(../img/forest/forest2/forest2tree.png);

    top: 50px;
}


/* Forest3 */
#forest3 {
    width: 100%;
    height: 600px;
    background-image: url(../img/forest/forest3/forest3_bg.png);
}

#forest3 .forest3Wrap {
    float: right;
    position: relative;    

    width: 354px;
    height: 440px;
    
    top: 100px;
}

#forest3 .forest3Wrap .forest3Tree {
    position: absolute;

    width: 354px;
    height: 440px;
    background-image: url(../img/forest/forest3/forest3tree.png);
}

#forest3 .forest3Wrap .smallBird {
    position: absolute;

    width: 40px;
    height: 35px;
    background-image: url(../img/forest/forest3/bird_sm.png);

    top: 120px;
    left: 125px;
}

#forest3 .forest3Wrap .bigBird {
    position: absolute;

    width: 83px;
    height: 80px;
    background-image: url(../img/forest/forest3/bird_big.png);

    margin: 280px 0 0 94px;
}


/* Science */
#science {
    position: relative;

    width: 100%;
    height: 800px;
    background-image: url(../img/science/science_bg.png);
}

#science .scienceWrap {
    position: relative;

    width: 1068px;
    height: 655px;

    margin: 0 auto;
}


#science .scienceWrap .scienceLeftWrap {
    float: left;
    width: 288px;
    height: 100%;    
}

#science .scienceWrap .scienceLeftWrap .gly {
    width: 230px;
    height: 192px;
    background-image: url(../img/science/gly.png);

    margin: 0 0 130px 55px;
}

#science .scienceWrap .scienceLeftWrap p,
#science .scienceWrap .scienceRightWrap p {
    color: #8e7577;
    font-size: 18px;
    line-height: 26px;

    padding-top: 10px;
}


#science .scienceWrap .scienceCenterWrap {
    position: relative;
    float: left;

    width: 488px;
    height: 100%;    
}

#science .scienceWrap .scienceCenterWrap .purpleSteam {
    position: relative;

    width: 241px;
    height: 216px;
    background-image: url(../img/science/grape.png);

    left: 50%;
    margin-left: -120px;
}

#science .scienceWrap .scienceCenterWrap .funnelBack {
    position: absolute;

    width: 488px;
    height: 438px;
    background-image: url(../img/science/funnelback.png);    
}

#science .scienceWrap .scienceCenterWrap .funnelFront {
    position: relative;

    width: 485px;
    height: 390px;
    background-image: url(../img/science/funnelfront.png);

    margin-top: 48px;
}


#science .scienceWrap .scienceRightWrap {
    float: right;
    width: 292px;
    height: 100%;    
}

#science .scienceWrap .scienceRightWrap .water {
    width: 204px;
    height: 191px;
    background-image: url(../img/science/water.png);

    margin-bottom:130px;
}


/* night1 */
#night1 {
    width: 100%;
    height: 700px;
    background-image: url(../img/oneday/night1/night1_bg.png);
}

#night1 .owl {
    position: absolute;

    width: 334px;
    height: 571px;
    background-image: url(../img/oneday/night1/owl.png);

    margin-top: 50px;
}

#night1 .starWrap {
    position: relative;

    width: 750px;
    height: 400px;
    
    top: 150px;
    margin-left: 600px;
}

#night1 .starWrap .star1,
#night1 .starWrap .star2,
#night1 .starWrap .star3 {
    position: absolute;

    width: 53px;
    height: 50px;
    background-image: url(../img/oneday/night1/star1.png);
}

#night1 .starWrap .star1 {
    margin-top: 350px;
}

#night1 .starWrap .star2 {
    margin-left: 650px;
}

#night1 .starWrap .star3 {
    margin: 250px 0 0 500px;
}




