html, body {
    margin: 0;
    padding: 0;
}

h1 {
    /* display-Inline 적용하기*/
    /* display: inline */
    
    /* display-inline-block 적용하기*/
    display: inline-block;

    width: 100px;
    height: 100px;
    background-color: yellow;

    margin-top: 100px;
}

span {
    /* display-Block 적용하기*/
    display: block;
    
    width: 100px;
    height: 100px;
    background-color: pink;

    margin-top: 100px;
}





