* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    vertical-align: middle;
}

button {
    border: none;
}

input, textarea {
    outline: none;
}

.container {
    width: 1130px;
    margin: 0 auto;
}

.clearfix {
    clear: both;
}

/* 네이버 상단 */
/* 검색바 영역 */
.container {
    width: 1130px;
    margin: 0 auto;
}

#main-header {
    position: relative;
    background-color: #ffffff;
}

#main-header .search-area {
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;

    height: 160px;
    background-color: #ffffff;

    border-bottom: 1px solid #e4e8eb;
}

#main-header .search-wrap {
    display: flex;
	justify-content: space-between;
	align-items: center;	
    position: relative;

    width: 582px;
    height: 52px;
    border: solid 2px #19ce60;
}

#main-header .search-wrap input {
    width: calc(100% - 52px);
    height: 100%;    
    padding: 13px 15px;

    font-size: 20px;
    border: none;
}

#main-header .search-wrap input:focus {
    outline: none;
}

#main-header .search-wrap button {
    width: 52px;
    height: 100%;
    background-color: #19ce60;
}


/* navbar 영역 */
#main-header #navbar {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);    
}

#main-header #navbar ul {
    padding: 11px 0;
}

#main-header #navbar ul li {
    display: inline-block;
    margin-right: 5px;
}

#main-header #navbar ul li a {
    color: #03c75a;
    font-size: 15px;
    font-weight: 700;
}


/* 네이버 왼쪽 영역 */
main {
    overflow: hidden;
    padding-top: 20px;
}

main #main-left {
    float: left;
    width: 750px;
}

main #main-right {
    float: right;
    width: 350px;
    height: 2000px;
    background-color: pink;
}

/* banner 영역 */
main #banner-wrap {
    width: 750px;
    height: 135px;
    background-color: #000000;

    margin-bottom: 12px;
}


/* 뉴스 영역 */
main #news-wrap .news-header {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
	align-items: center;
	
    padding: 22px 0 16px 0;
}

main #news-wrap .news-header h2 {
    font-size: 14px;
    font-weight: 700;
}

main #news-wrap .news-header .news-btn-wrap {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	
    width: 60px;
}

main #news-wrap .news-header .news-btn-wrap button {
    width: 15px;
    height: 15px;
    background-color: blue;
}

main #news-wrap .news-lists {
    overflow: hidden;
    border: solid 1px #dae1e6;
}

main #news-wrap .news-lists .news-list {
    float: left;
    position: relative;

    width: 16.66%;
    height: 65px;
    background-color: #ffffff;

    border-bottom: solid 1px #e4e8eb;
    border-right: solid 1px #e4e8eb;

    text-align: center;
}

main #news-wrap .news-lists .news-list:nth-child(6n) {
    border-right: none;
}

main #news-wrap .news-lists .news-list:nth-child(19),
main #news-wrap .news-lists .news-list:nth-child(20),
main #news-wrap .news-lists .news-list:nth-child(21),
main #news-wrap .news-lists .news-list:nth-child(22),
main #news-wrap .news-lists .news-list:nth-child(23),
main #news-wrap .news-lists .news-list:nth-child(24) {
    border-bottom: none;
}

main #news-wrap .news-lists .news-list img {
    position: relative;

    top: 50%;
    transform: translateY(-50%);
}


/* 오늘 읽을만한 글 영역 */
main #blog-wrap {
    padding-top: 35px;
}

main #blog-wrap .blog-header {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
    
    padding-bottom: 17px;
}

main #blog-wrap .blog-header .left-header {
    display: flex;
	flex-wrap: wrap;
	align-items: center;
}

main #blog-wrap .blog-header .left-header h3 {
    font-size: 14px;

    margin-right: 8px;
}

main #blog-wrap .blog-header .left-header span{
    font-size: 12px;
    color: gray;
}

main #blog-wrap .blog-header .right-header {
    display: flex;
	flex-wrap: wrap;
    justify-content: flex-end;
	align-items: center;
}

main #blog-wrap .blog-header .right-header span {
    font-size: 12px;
    color: gray;
}

main #blog-wrap .blog-header .right-header .count strong {
    color: #000000;
}

main #blog-wrap .blog-nav ul {
    overflow: hidden;

    border: solid 1px #eae1e6;
}

main #blog-wrap .blog-nav ul li {
    float: left;
    
    width: 12.5%;
    height: 49px;

    border-right: solid 1px #eae1e6;
}

main #blog-wrap .blog-nav ul li:last-child {
    border: 0;
}

main #blog-wrap .blog-nav ul li a {
    display: block;

    width: 100%;
    height: 100%;

    line-height: 49px;
    text-align: center;
}


main #blog-wrap .blog-list-wrap {
    padding-top: 18px;

    border-bottom: solid 1px #dae1e6;
}

main #blog-wrap .blog-list-wrap li {
    margin-bottom: 18px;
}

main #blog-wrap .blog-list-wrap li a {
    display: flex;
    flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
}

main #blog-wrap .blog-list-wrap li img {
    width: 170px;
    height: 114px;

    margin-right: 21px;
}

main #blog-wrap .blog-list-wrap li .blog-list-info {
    width: 559px;
    padding-right: 47px;
}

main #blog-wrap .blog-list-wrap li .blog-list-info span {
    font-size: 12px;
    color: #35ae5e;
}

main #blog-wrap .blog-list-wrap li .blog-list-info h4 {
    font-size: 13px;
}

main #blog-wrap .blog-list-wrap li .blog-list-info p {
    font-size: 13px;
}

main #blog-wrap .blog-list-wrap li .blog-list-info .date-wrap span {
    color: #505050;
}


main #blog-wrap .blog-media-wrap ul {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

    padding: 18px 0;
    border-bottom:  solid 1px #dae1e6;
}

main #blog-wrap .blog-media-wrap ul .blog-media-info {
    padding-top: 12px;
}

main #blog-wrap .blog-media-wrap ul .blog-media-info h4 {
    font-size: 13px;
}

main #blog-wrap .blog-media-wrap ul .blog-media-info span {
    font-size: 12px;
}
















