* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #0e0e10;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;    
}

img {
    vertical-align: top;
}

input {
    outline: none;
    border: none;    
}

button {
    outline: none;
    border: none;
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p, span, input, button, a { 
    color: #ffffff;
}

.btn-purple {
    background-color: #9147ff;
    color: #ffffff;
}

.font-purple {
    color: #9147ff;
}


/* flex 설정 */
.twitch-flex-start {
    display: flex;
	flex-wrap: wrap;
	align-items: center;	
}

.twitch-flex-center {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;	
}

.twitch-flex-end {
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
}

.twitch-flex-between {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;	
}


/* 트위치 상단 영역 */
#top-nav {
    position: fixed;
    width: 100%;
    min-width: 1340px;
    height: 50px;
    background-color: #18181b;
    padding: 0 15px;
}


#top-nav .nav-wrap .nav-left h1 .logo img {
    width: 24px;
    height: 28px;
}

#top-nav .nav-wrap .nav-left ul li {
    height: 50px;
    padding: 0 20px;
    
    font-size: 18px;
    font-weight: 600;
}

#top-nav .nav-wrap .nav-left li a {
    display: block;
    width: 100%;
    height: 100%;
    
    line-height: 50px;
}

#top-nav .nav-wrap .nav-left li:first-child {
    padding-right: 0;
}

#top-nav .nav-wrap .nav-left li:first-child a::after {
    position: relative;
    display: inline-block;    
    content: '';
    width: 1px;
    height: 30px;
    background-color: grey;

    margin-left: 20px;

    top: 8px;
}

#top-nav .nav-wrap .nav-left .more a {
    display: block;
    height: 50px;
    
    padding-left: 20px;
    
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
}


#top-nav .nav-wrap .nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#top-nav .nav-wrap .nav-center .search-wrap {
    overflow: hidden;
    width: 380px;
    height: 36px;
    border-radius: 8px;
    background-color: yellowgreen;
}

#top-nav .nav-wrap .nav-center .search-wrap input {
    width: calc(100% - 34px);
    height: 100%;
    background-color: grey;
}

#top-nav .nav-wrap .nav-center .search-wrap .btn-search {
    width: 34px;
    height: 100%;
    background-color: tomato;
}


#top-nav .nav-wrap .nav-right .prime-icon-wrap {
    position: relative;
}

#top-nav .nav-wrap .nav-right .prime-icon-wrap .prime-icon {
    display: block;
    width: 20px;
    height: 20px;
    background-color: yellow;
}

#top-nav .nav-wrap .nav-right .prime-icon-wrap .alarm {
    position: absolute;
    border-radius: 15px;
    background-color: red;
    
    padding: 2px 8px 4px;

    font-size: 14px;
    color: #ffffff;

    top: -10px;
    right: -20px;

    cursor: pointer;
}

#top-nav .nav-wrap .nav-right .btn-login {
    width: 53px;
    height: 30px;
    background-color: grey;
    border-radius: 5px;    

    margin-left: 25px;

    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

#top-nav .nav-wrap .nav-right .btn-purple {
    width: 53px;
    height: 30px;
    border-radius: 5px;
    
    margin-left: 10px;

    text-align: center;
    line-height: 30px;
    font-size: 12px;
}

#top-nav .nav-wrap .nav-right .btn-profile {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    
    margin-left: 10px;

    cursor: pointer;
}


/* 트위치 메인 영역 */
.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1340px;    
}


/* 메인 왼쪽 영역 */
.left-area {
    position: fixed;    
    width: 240px;     
    background-color: #202024;
    overflow: auto;

    top: 52px;
    left: 0;
    bottom: 0;
}

.left-area .channel-wrap .channel-header {
    padding: 10px;
}

.left-area .channel-wrap .channel-header h3 {
    font-size: 15px;
}

.left-area .channel-wrap .channel-header .icon-arrow {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
}

.left-area .channel-wrap .channel-body li a {    
    padding: 5px 10px;

    align-items: flex-start;
}

.left-area .channel-wrap .channel-body li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-area .channel-wrap .channel-body li .txt-wrap {
    width: 108px;
    margin-left: 10px;
}

.left-area .channel-wrap .channel-body li .txt-wrap h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

.left-area .channel-wrap .channel-body li .txt-wrap .category {
    font-size: 12px;
    color: grey;
}

.left-area .channel-wrap .channel-body li .count {
    display: block;
    width: 55px;

    font-size: 12px;
}

.left-area .channel-wrap .channel-body li .count::before {
    position: relative;
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;

    margin-right: 5px;

    top: 2px;
}


.left-area .join-wrap {
    border: solid 1px #0e0e10;
    border-radius: 5px;
    margin: 10px;    
}

.left-area .join-wrap .txt-wrap {
    background-color: #18181a;
    padding: 20px;
}

.left-area .join-wrap .txt-wrap h2 {
    font-size: 24px;
}

.left-area .join-wrap .txt-wrap p {
    margin-top: 10px;
    font-size: 13px;
    line-height: 18px;
}

.left-area .join-wrap .txt-wrap .btn-purple {
    width: 53px;
    height: 30px;
    border-radius: 5px;
    
    margin-top: 10px;
    
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}


.left-area .info-wrap {
    font-size: 12px;    
    margin: 0 10px 10px 10px;
}

.left-area .info-wrap p {
    line-height: 18px;
    color: grey;
}

.left-area .info-wrap ul {
    margin-top: 10px;
}

.left-area .info-wrap li a {
    color: grey;
}

.left-area .info-wrap li a::after {
    position: relative;
    display: inline-block;
    content: '';
    width: 2px;
    height: 11px;
    background-color: grey;

    margin: 0 5px;

    top: 2px;
}

.left-area .info-wrap li:last-child a::after {
    content: none;    
}


/* 메인 콘텐츠 영역 */
.content {
    overflow: auto;
    position: absolute;    

    top: 50px;
    left: 240px;

    bottom: 0;    
    right: 0;
}

.content #content-banner {
    position: relative;
    width: 100%;
    height: 350px;
    background: url(../img/notebook.jpg) no-repeat center;
    background-size: cover;
}

.content #content-banner .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    top: 0;
    left: 0;
}

.content #content-banner .layer .txt-wrap {
    position: absolute;
    top: 170px;
    right: 200px;
}


.content .content-container {
    width: 1240px;
    margin: 0 auto;
}

/* content-container 공통 영역 */
.content-container .tag-wrap {
    display: flex;
	flex-wrap: wrap;
	align-items: center;

    margin-top: 5px;
}	

.content-container .tag-wrap .tag {
    background-color: grey;
    border-radius: 8px;

    padding: 2px 6px;
    margin-right: 5px;
    
    font-size: 12px;
    color: #ffffff;
    
}

.content-container .tag-wrap .tag:last-child {
    margin-right: 0;
}

.content-container .txt-wrap h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 16px;
    line-height: 20px;
}

.content-container .txt-wrap .source,
.content-container .txt-wrap .game {
    font-size: 14px;
    color: grey;
    line-height: 20px;
}


/* 비디오 section */
.video-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 40px;

    border-bottom: solid 1px grey;
}

.video-section .title-wrap {
    padding-bottom: 10px;
}

.video-section .title-wrap h2 {
    font-size: 20px;
}

.video-section .video-wrap ul {
    align-items: flex-start;
}

.video-section .video-wrap ul li {
    width: 333px;
    
}

.video-section .video-wrap li .image-wrap {
    position: relative;
    width: 333px;
    height: 186px;
    background-color: #9147ff;
}

.video-section .video-wrap li .image-wrap img {
    width: 100%;
    height: 100%;

    transition: transform 0.15s linear;
}

.video-section .video-wrap li .image-wrap:hover img,
.video-section .video-wrap li .image-wrap:hover .mark {
    transform: translate(10px, -10px);
}

.video-section .video-wrap li .image-wrap .mark {
    position: absolute;
    border-radius: 5px;
    background-color: red;

    padding: 2px 4px;

    top: 15px;
    left: 15px;

    font-size: 14px;

    transition: transform 0.15s linear;
}

.video-section .video-wrap li .video-bottom {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    margin-top: 10px;
}

.video-section .video-wrap li .video-bottom .thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.video-section .video-wrap li .video-bottom .txt-wrap {
    width: calc(100% - 50px);
}

.video-section .btn-more {
    position: absolute;

    width: 100px;
    height: 30px;
    background-color: #0e0e10;

    text-align: center;
    line-height: 30px;

    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}


.category-section {
    padding-top: 60px;
    padding-bottom: 40px;
    border-bottom: solid 1px grey;
}

.category-section .title-wrap {
    padding-bottom: 10px;
}

.category-section .title-wrap h2 {
    font-size: 20px;
}

.category-section .category-wrap ul {
    align-items: flex-start;
}

.category-section .category-wrap ul li {
    width: 152px;    
}

.category-section .category-wrap img {
    width: 152px;
    height: 203px;
    
    margin-bottom: 10px;
}

.category-section .category-wrap .txt-wrap .count {
    font-size: 14px;
    color: grey;
    line-height: 20px;
}


footer {
    width: 100%;
    padding: 80px 0 150px;
}

footer .txt-wrap {
    text-align: center;
}

footer .txt-wrap p {
    font-size: 14px;
}

footer .footer-bottom {
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;

    margin-top: 20px;
}

footer .footer-bottom ul li a {
    font-size: 14px;
    color: grey;
}

footer .footer-bottom ul li a:after {
    position: relative;
    display: inline-block;
    content: '';

    width: 1px;
    height: 12px;
    background-color: grey;

    margin: 0 8px;

    top: 1px;
}

footer .footer-bottom ul li:last-child a:after {
    content: none;
}