html, body {
    margin: 0;
    padding: 0;
}

.inline-block {
    display: inline-block;
    
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.inline, .inline-block, img {
    vertical-align: middle;
}



